
// Primary
$pink:hsl(322, 100%, 66%);
// Neutral
$palaceCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);
$boxShadow: .1em .1em 1em .3em rgba(119, 119, 119, 0.198);
$lineHeight:1.4rem;